  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    background-color: #eee;
  }
  .container {
    max-width: 1000px;
    width: 100%;
    margin: o auto;
  }
  #page-wrapper {
    position: relative;
  }
  li {
    list-style: none;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  .box {
    max-width: 1000;
    width: 100%;
    margin: 0 auto;
  }
  .button {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
  }
  .grid {
    display: flex;
  }
  header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
  }
  .logo {
    width: 60vw;
  }
  img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
  }
  #hero {
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
  }
  .nav-bar {
    font-weight: 400;
    margin-top: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  .nav-bar ul {
    width: 45vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  form {
    margin-top: 10;
    padding: 0 50px;
  }